.board{
    height:300px;
    width: 300px; 
   background-color: blue;
   
}
.blink {
    animation: blink 1s ease-in-out infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.2;
    }
  }
  /* 0% { opacity: 0.2; } - определяет начальное состояние элемента, при котором он будет иметь прозрачность 0.2 (20%).

50% { opacity: 1; } - определяет состояние элемента в середине анимации, при котором он будет иметь полную непрозрачность (100%).

100% { opacity: 0.2; } - определяет конечное состояние элемента, при котором он снова будет иметь прозрачность 0.2 (20%). */